{
  "slack_api_token": "<web-token>",
  "slack_verification_token": "<verification-token>",
  "slack_message_template": {
    "channel": "<channel-id>",
    "text": ":boom: Uh oh, something went wrong :boom:",
    "attachments": [
      {
        "color": "danger",
        "title": "Documentation",
        "title_link": "https://github.com/amancevice/slack-drive",
        "fields": [
          {
            "title": "[Error Class]",
            "value": "[Error Message]"
          }
        ],
        "footer": "Slack | Google Drive"
      }
    ]
  }
}
