{
  "cloud": {
    "project_id": "<project-id>",
    "pubsub_topic": "<topic-name>"
  },
  "slack": {
    "verification_token": "<verification-token>",
    "slash_command": "<slash-command-name>",
    "users": {
      "excluded": [],
      "included": []
    }
  }
}
