{
  "cloud": {
    "project_id": "<project-id>"
  },
  "slack": {
    "api_token": "<web-api-token>",
    "app_channel": "<app-channel-id>",
    "users": {
      "excluded": [],
      "included": []
    },
    "messages": {
      "member_joined_channel": {
        "text": ":sparkles: Welcome to #channel :sparkles:",
        "attachments": [
          {
            "color": "good",
            "text": "This channel has its own private Google Drive folder.\n\nOnly members of the channel can view its contents.\n\nInvite other members into this channel to give them access!",
            "mrkdwn_in": [
              "text"
            ],
            "actions": [
              {
                "type": "button",
                "text": "Google Drive",
                "url": "https://drive.google.com"
              }
            ]
          },
          {
            "color": "warning",
            "text": "*DO NOT SHARE FILES BY LINK IN THIS FOLDER!*\n\nType `/dsa drive` to view this message again.",
            "mrkdwn_in": [
              "text"
            ],
            "footer": "Slack | Google Drive",
            "ts": "[timestamp]"
          }
        ]
      },
      "member_left_channel": {
        "text": "Goodbye from #channel :wave:",
        "attachments": [
          {
            "color": "warning",
            "text": " You will lose access to this channel's Google Drive folder soon.\n\nRe-join the channel to gain access again.",
            "mrkdwn_in": [
              "text"
            ],
            "footer": "Slack | Google Drive",
            "ts": "[timestamp]"
          }
        ]
      },
      "error": {
        "text": ":boom: Uh oh, something went wrong :boom:",
        "attachments": [
          {
            "color": "danger",
            "title": "Documentation",
            "title_link": "https://github.com/amancevice/slack-drive",
            "mrkdwn_in": ["fields"],
            "fields": [
              {
                "title": "[Error Name]",
                "value": "[Error Message]"
              },
              {
                "title": "Stacktrace",
                "value": "[Stack]"
              },
              {
                "title": "Event",
                "value": "[Event]"
              }
            ],
            "footer": "Slack | Google Drive",
            "ts": "[timestamp]"
          }
        ]
      },
      "success": {
        "text": ":sparkles: A new event has been published :sparkles:",
        "attachments": [
          {
            "color": "good",
            "fields": [
              {
                "title": "Channel",
                "value": "[Channel]",
                "short": true
              },
              {
                "title": "User",
                "value": "[User]",
                "short": true
              },
              {
                "title": "Event",
                "value": "[Event]"
              }
            ],
            "footer": "Slack | Google Drive",
            "mrkdwn_in": ["fields"],
            "title": "Documentation",
            "title_link": "https://github.com/amancevice/slack-drive",
            "ts": "[timestamp]"
          }
        ]
      }
    }
  }
}
