{
  "cloud": {
    "project_id": "<project-id>",
    "pubsub_topic": "<topic>"
  },
  "slack": {
    "api_token": "<web-api-token>",
    "error_message": {
      "channel": "<channel-id>",
      "text": ":boom: Uh oh, something went wrong :boom:",
      "attachments": [
        {
          "color": "danger",
          "title": "Documentation",
          "title_link": "https://github.com/amancevice/slack-drive",
          "mrkdwn_in": ["fields"],
          "fields": [
            {
              "title": "Event",
              "value": "[Event]"
            },
            {
              "title": "Error",
              "value": "[Error Message]",
              "short": true
            },
            {
              "title": "Message",
              "value": "[Error Message]",
              "short": true
            },
            {
              "title": "Stack",
              "value": "```\n[Stack]\n```"
            }
          ],
          "footer": "Slack | Google Drive",
          "ts": "[timestamp]"
        }
      ]
    },
    "success_message": {
      "channel": "<channel-id>",
      "text": ":sparkles: A new event has been published :sparkles:",
      "attachments": [
        {
          "color": "good",
          "title": "Documentation",
          "title_link": "https://github.com/amancevice/slack-drive",
          "mrkdwn_in": ["fields"],
          "footer": "Slack | Google Drive",
          "ts": "[timestamp]"
        }
      ]
    }
  }
}
